article
{
	
	height: 20%;
	margin: 0.1em 0;
	width: 100%;
	
}

body
{
	background: #222;	
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}
header
{
	background: red;
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
}
#status
{
	background: yellow;
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em 0;	
}
section:hover
{
	background: #fff;
	color: black;
}


.peer .c1, .c2, .c3, .c4, .c5, .c6
{
	margin: 0.1em;
	text-align: right;
}
#status
{
	margin: 0;
	padding: 0;
}
#status #status1
{
	background: green;
}
#status #status2
{
	background: peru;
}
#status #status3
{
	background: brown;
}
#status #status4
{
	background: red;
}
#status #status1 .peer
{
	border: 1px solid purple;
	max-height: 50%;
}
#status #status1, #status2, #status3, #status4
{
	border: 1px solid #ccc;
	display: inline-block;
	margin: 0;
	padding: 1em;
	vertical-align: top;
	width: 22%;

}
.s1, .s2, .s3, .s4, .s5, .s6
{
	background: pink;
	float: right;
	text-align: left;
	width: 50%;
}