article
{
	
	height: 20%;
	margin: 0.1em 0;
	width: 100%;
	
}

body
{
	background: #222;	
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}
header
{
	background: red;
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
}
section
{
	background: yellow;
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em 0;
	width: 25%;
}
section:hover
{
	background: #fff;
	color: black;
}

#p1 .c1, .c2, .c3, .c4, .c5, .c6
{
	border: 1px solid red;
	margin: 0.1em;
	text-align: right;
}


.s1, .s2, .s3, .s4, .s5, .s6
{
	background: pink;
	float: right;
	text-align: left;
	width: 50%;
}
